In [4]:
import ibm_db
import ibm_db_dbi
import ibm_db_sa
import sqlalchemy
import pandas as pd


dsn_hostname = "764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud" # e.g.: "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = "ynr01638"        # e.g. "abc12345"
dsn_pwd = "IXOaPrYHTMmngIQ2"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "32536"                # e.g. "32733" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"              #i.e. "SSL"


#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)



#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  ynr01638 on host:  764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [5]:
ibm_db.close(conn)

True

In [2]:
%load_ext sql

In [8]:
%sql ibm_db_sa://ynr01638:IXOaPrYHTMmngIQ2@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb?security=SSL

In [13]:
%%sql
select tabschema, tabname, create_time from syscat.tables where tabschema = 'YNR01638'

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('YNR01638', 'CARSALESTABLE', datetime.datetime(2023, 4, 19, 23, 2, 51, 29081)),
 ('YNR01638', 'BOOKSHOP', datetime.datetime(2023, 4, 28, 23, 1, 33, 744462)),
 ('YNR01638', 'BOOKSHOP_AUTHORDETAILS', datetime.datetime(2023, 4, 28, 23, 7, 15, 525863)),
 ('YNR01638', 'PETSHOP', datetime.datetime(2023, 4, 28, 21, 54, 0, 514024)),
 ('YNR01638', 'PETRESCUE', datetime.datetime(2023, 5, 3, 12, 40, 57, 243880)),
 ('YNR01638', 'EMPLOYEES', datetime.datetime(2023, 5, 3, 13, 25, 47, 260426)),
 ('YNR01638', 'JOB_HISTORY', datetime.datetime(2023, 5, 3, 13, 25, 47, 500717)),
 ('YNR01638', 'JOBS', datetime.datetime(2023, 5, 3, 13, 25, 47, 754765)),
 ('YNR01638', 'DEPARTMENTS', datetime.datetime(2023, 5, 3, 13, 25, 47, 999953)),
 ('YNR01638', 'LOCATIONS', datetime.datetime(2023, 5, 3, 13, 25, 48, 231917)),
 ('YNR01638', 'INSTRUCTOR', datetime.datetime(2023, 5, 4, 12, 49, 33, 441489)),
 ('YNR01638', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2023, 5, 5, 13, 48, 24, 970552)),
 ('YNR01638', 'CHICAGO_CRIME_DATA', datetime.datetime(2023, 5, 5, 13, 50, 22, 330834)),
 ('YNR01638', 'CENSUS_DATA', datetime.datetime(2023, 5, 5, 19, 57, 42, 809958))]

In [21]:
%%sql
Select colname from syscat.columns where tabname = 'CHICAGO_CRIME_DATA'

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('ARREST',),
 ('BEAT',),
 ('BLOCK',),
 ('CASE_NUMBER',),
 ('COMMUNITY_AREA_NUMBER',),
 ('DATE',),
 ('DESCRIPTION',),
 ('DISTRICT',),
 ('DOMESTIC',),
 ('FBICODE',),
 ('ID',),
 ('IUCR',),
 ('LATITUDE',),
 ('LOCATION',),
 ('LOCATION_DESCRIPTION',),
 ('LONGITUDE',),
 ('PRIMARY_TYPE',),
 ('WARD',),
 ('X_COORDINATE',),
 ('YEAR',),
 ('Y_COORDINATE',)]

In [55]:
%%sql
select * from CHICAGO_CRIME_DATA limit 5

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(3512276, 'HK587712', datetime.date(2004, 8, 28), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', datetime.date(2004, 6, 26), '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', datetime.date(2011, 4, 4), '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', datetime.date(2010, 12, 30), '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', datetime.date(2016, 2, 2), '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)')]

Problem 1: Find the total number of crimes recorded in the CRIME table.

In [23]:
%%sql
select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(533,)]

In [25]:
%%sql
select colname from syscat.columns where tabname = 'CENSUS_DATA'

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('COMMUNITY_AREA_NAME',),
 ('COMMUNITY_AREA_NUMBER',),
 ('HARDSHIP_INDEX',),
 ('PERCENT_AGED_16__UNEMPLOYED',),
 ('PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA',),
 ('PERCENT_AGED_UNDER_18_OR_OVER_64',),
 ('PERCENT_HOUSEHOLDS_BELOW_POVERTY',),
 ('PERCENT_OF_HOUSING_CROWDED',),
 ('PER_CAPITA_INCOME',)]

Problem 2: List community areas with per capita income less than 11000.

In [26]:
%%sql
select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME <='11000'

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

In [47]:
results1 = %sql Select colname from syscat.columns where tabname = 'CHICAGO_PUBLIC_SCHOOLS'
column_names_schools = [row[0] for row in results1]
results2 = %sql Select colname from syscat.columns where tabname = 'CHICAGO_CRIME_DATA'
column_names_crime = [row[0] for row in results2]
results3 = %sql Select colname from syscat.columns where tabname = 'CENSUS_DATA'
column_names_census = [row[0] for row in results3]

set1 = set(column_names_schools)
set2 = set(column_names_crime)
set3 = set(column_names_census)

common_elements = set2.intersection(set3)
common_elements

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.
 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.
 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

{'COMMUNITY_AREA_NUMBER'}

Problem 3: List all case numbers for crimes involving minors?

In [52]:
%%sql
select case_number from CHICAGO_CRIME_DATA where description like '%MINOR%'

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('HL266884',), ('HK238408',)]

Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [66]:
%%sql
select * from CHICAGO_CRIME_DATA where description like '%CHILD%' and primary_type = 'KIDNAPPING'

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

Problem 5: What kind of crimes were recorded at schools?

In [71]:
%%sql
select primary_type , description, location_description from CHICAGO_CRIME_DATA 
where location_description like '%SCHOOL%'

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPA', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VI', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VI', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

Problem 6: List the average safety score for all types of schools.

In [76]:
%%sql
select AVG(SAFETY_SCORE) as AVG_SCORE, "Elementary, Middle, or High School" from CHICAGO_PUBLIC_SCHOOLS 
GROUP BY "Elementary, Middle, or High School"

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(49, 'ES'), (49, 'HS'), (48, 'MS')]

Problem 7: List 5 community areas with highest % of households below poverty line.

In [79]:
%%sql
select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA 
order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc 
limit 5

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

Problem 8: Which community area(number) is most crime prone?

In [90]:
%%sql
select COMMUNITY_AREA_NUMBER, count(*) as num_of_crimes from CHICAGO_CRIME_DATA 
where COMMUNITY_AREA_NUMBER IS NOT NULL
group by COMMUNITY_AREA_NUMBER 
order by num_of_crimes desc 
limit 1

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[(25, 43)]

Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [92]:
%%sql
select COMMUNITY_AREA_NAME from CENSUS_DATA 
where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from CENSUS_DATA)

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Riverdale',)]

Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [97]:
%%sql
SELECT CENSUS_DATA.COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE CENSUS_DATA.COMMUNITY_AREA_NUMBER = (
    SELECT CHICAGO_CRIME_DATA.COMMUNITY_AREA_NUMBER
    FROM CHICAGO_CRIME_DATA
    GROUP BY CHICAGO_CRIME_DATA.COMMUNITY_AREA_NUMBER
    HAVING COUNT(*) = (
        SELECT MAX(crime_count)
        FROM (
            SELECT COUNT(*) as crime_count
            FROM CHICAGO_CRIME_DATA
            GROUP BY COMMUNITY_AREA_NUMBER
        ) subquery_max_count
    )
    LIMIT 1
);

 * ibm_db_sa://ynr01638:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/bludb
Done.

[('Austin',)]